<div class="dashimages container-fluid">
    <!--<img src="../../backend/img/rusa.png" class="img-responsive" alt="img">-->
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col-md-3 form-group ">
            <lable>Select PAB No.</lable>
            <select name="" ng-model="selectedPab" class="form-control select_tag_dashboard" ng-options="x.name for x in AllPABs track by x._id"
                ng-change="selectedPab===null ? '' : getAllDashboardData(selectedPab, $event) " data-id="pab">
                <option value=""></option>
                </select>
        </div>
        <div class=" col-md-3 form-group ">
            <lable>Select State</lable>
            <select name=" " ng-model="selectedState " class="form-control select_tag_dashboard " ng-options="x.name for
                x in AllStates track by x._id " ng-change="selectedState===null ? '' : getAllDashboardData(selectedState, $event)"
                data-id="state">
                <option value=""></option>
                </select>
        </div>
        <div class="col-md-3 form-group">
            <lable>Select Institute</lable>
            <select name=" " ng-model="selectedInstitute " class="form-control select_tag_dashboard " ng-options="x.name
                for x in AllInstitutes track by x._id " ng-change="selectedInstitute===null ? '' : getAllDashboardData(selectedInstitute, $event)"
                data-id="institute">
                <option value=""></option>
                </select>
        </div>
        <div class="col-md-3 form-group ">
            <lable>Select Component</lable>
            <select name=" " ng-model="selectedComponents " class="form-control select_tag_dashboard " ng-options="x.name
                for x in AllComponents track by x._id " ng-change="selectedComponents===null ? '' : getAllDashboardData(selectedComponents, $event)"
                data-id="component">
                <option value=""></option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="red-skin"><i class="fa fa-area-chart fa-lg"></i></span>
                            <p>FUND ALLOCATION</p>
                            <h3>{{filteredComponents.totalComponentsFundAllocation.totalFundAllocation | currency:"&#8377;"}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 ">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0">CENTER SHARE</p>
                        <p class="margin0 em1_1">{{filteredComponents.state.centerShare | currency:"&#8377;"}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6 padding0 textright">
                        <p class="margin0">STATE SHARE</p>
                        <p class="margin0 em1_1">{{filteredComponents.state.stateShare | currency:"&#8377;"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="sky-skin" style="margin-bottom: 35px;"><i class="fa fa-globe fa-lg"></i></span>
                            <p>TOTAL COMPONENTS</p>
                            <h5 class="margin0 em1_3">{{filteredComponents.totalComponents.count}}</h5>
                            <p>TOTAL PROJECTS</p>
                            <h5 class="margin0 em1_3">{{filteredComponents.totalProjects.count}}</h5>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 ">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0 ">INTIME</p>
                        <p class="margin0  em1_1">{{filteredComponents.inTimeComponents.inTimeComponentsCount}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6padding0 textright">
                        <p class="margin0 ">DELAYED</p>
                        <p class="margin0 em1_1">{{filteredComponents.totalProjects.count - filteredComponents.inTimeComponents.inTimeComponentsCount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="purple-skin"><i class="fa fa-bullhorn fa-lg"></i></span>
                            <p>FUNDS RELEASED</p>
                            <h3>{{filteredComponents.totalReleaseAndUtilization.totalFundRelease}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0">CENTER SHARE</p>
                        <p class="margin0  em1_1">{{filteredComponents.totalCenterRelease.totalCenterRelease}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6 padding0 textright">
                        <p class="margin0 ">STATE SHARE</p>
                        <p class="margin0 em1_1">{{filteredComponents.totalStateRelease.totalStateRelease}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <div class="widget-controls">
                    <span class="refresh-content">{{filteredComponents.totalReleaseAndUtilization.totalPercent_fundUtized}} %</span>
                </div>
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="pink-skin"><i class="fa fa-bar-chart fa-lg"></i></span>
                            <p>FUNDS UTILIZED</p>
                            <h3>{{filteredComponents.totalReleaseAndUtilization.totalUtilization}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 textright">
                    <div class="col-md-12 ">
                        <p class="margin0 ">CENTER SHARE</p>
                        <p class="margin0 em1_1">NA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row table_row ">
        <div class="col-md-12">
            <p><br></p>
            <p class="text-right text-muted">
                All amount in INR Lacs
            </p><br><br>
            <table class="table table-hover">
                <thead class="active">
                    <tr class="table_head borderbottom_transparant">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2" class="text-center">Projects</th>
                        <th colspan="2" class="text-center">Allocation</th>
                        <th colspan="2" class="text-center">Released</th>
                        <th colspan="2" class="text-center">Utilized</th>
                    </tr>
                    <tr class="table_head">
                        <th>PAB NO.</th>
                        <th>Institution</th>
                        <th>State</th>
                        <th>Components</th>
                        <th>Total</th>
                        <th>Delayed</th>
                        <th>Center</th>
                        <th>State</th>
                        <th>Center</th>
                        <th>State</th>
                        <th>value</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_data" ng-repeat="i in filteredComponents.institute">
                        <td>{{i._id.pab}}</td>
                        <td>{{i._id.institute}}</td>
                        <td>{{i._id.state.name}}</td>
                        <td>{{i._id.component}}</td>
                        <td>{{i._id.totalComponentProjects}}</td>
                        <td>-</td>
                        <td>{{i.totalComponentAllocation * (i._id.state.centerShare/100)}}</td>
                        <td>{{i.totalComponentAllocation * (i._id.state.stateShare/100)}}</td>
                        <td>{{52}}</td>
                        <td>{{12}}</td>
                        <td>{{45}}</td>
                        <td>{65}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><br><br><br></div>
</div>