<div class="dashimages container-fluid">
    <!--<img src="../../backend/img/rusa.png" class="img-responsive" alt="img">-->
    <div class="row"><br>
        <div class="resetFilters ">
            <button ng-click="resetFilters()" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
        <br><br>
    </div>
    <div class="row">
        <div class="col-md-3 form-group ">
            <lable>Select PAB No.</lable>
            <select name="" ng-model="selectedPab" class="form-control select_tag_dashboard" ng-options="x.name for x in AllPABs track by x._id"
                ng-change="selectedPab===null ? '' : getAllDashboardData(selectedPab, $event) " data-id="pab">
                <!--<option value=""></option>-->
                </select>
        </div>
        <div class=" col-md-3 form-group ">
            <lable>Select State</lable>
            <select name=" " ng-model="selectedState " class="form-control select_tag_dashboard " ng-options="x.name for
                x in AllStates track by x._id " ng-change="selectedState===null ? '' : getAllDashboardData(selectedState, $event)"
                data-id="state">
                <option value=""></option>
                </select>
        </div>
        <div class="col-md-3 form-group">
            <lable>Select Institute</lable>
            <select name=" " ng-model="selectedInstitute " class="form-control select_tag_dashboard " ng-options="x.name
                for x in AllInstitutes track by x._id " ng-change="selectedInstitute===null ? '' : getAllDashboardData(selectedInstitute, $event)"
                data-id="institute">
                <option value=""></option>
                </select>
        </div>
        <div class="col-md-3 form-group ">
            <lable>Select Component</lable>
            <select name=" " ng-model="selectedComponents " class="form-control select_tag_dashboard " ng-options="x.name
                for x in AllComponents track by x._id " ng-change="selectedComponents===null ? '' : getAllDashboardData(selectedComponents, $event)"
                data-id="component">
                <option value=""></option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="red-skin"><i class="fa fa-area-chart fa-lg"></i></span>
                            <p>FUND ALLOCATION</p>
                            <h3>{{DashboardAllData.totalComponentsFundAllocation.totalFundAllocation | currency:"&#8377;"}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 ">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0">CENTER SHARE</p>
                        <p class="margin0 em1_1">{{DashboardAllData.totalCenterAndStateAllocation.centerShare | currency:"&#8377;"}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6 padding0 textright">
                        <p class="margin0">STATE SHARE</p>
                        <p class="margin0 em1_1">{{DashboardAllData.totalCenterAndStateAllocation.stateShare | currency:"&#8377;"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="sky-skin" style="margin-bottom: 35px;"><i class="fa fa-globe fa-lg"></i></span>
                            <p>TOTAL COMPONENTS</p>
                            <h5 class="margin0 em1_3">{{DashboardAllData.totalComponents.count | number:2}}</h5>
                            <p>TOTAL PROJECTS</p>
                            <h5 class="margin0 em1_3">{{DashboardAllData.totalProjects.count | number:2}}</h5>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 ">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0 ">INTIME</p>
                        <p class="margin0  em1_1">{{DashboardAllData.inTimeComponents.inTimeComponentsCount | number:2}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6padding0 textright">
                        <p class="margin0 ">DELAYED</p>
                        <p class="margin0 em1_1" ng-class="{'redColor': {{DashboardAllData.totalComponents.count - DashboardAllData.inTimeComponents.inTimeComponentsCount}} != 0}">{{DashboardAllData.totalComponents.count - DashboardAllData.inTimeComponents.inTimeComponentsCount
                            | number:2 }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <!--<div class="widget-controls">
                    <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                </div>-->
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="purple-skin"><i class="fa fa-bullhorn fa-lg"></i></span>
                            <p>FUNDS RELEASED</p>
                            <h3>{{DashboardAllData.totalReleaseAndUtilization.totalFundRelease1 | number:2}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10">
                    <div class="col-md-6 col-xs-6 padding0">
                        <p class="margin0">CENTER SHARE</p>
                        <p class="margin0  em1_1">{{DashboardAllData.totalCenterRelease.totalCenterRelease | number:2}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6 padding0 textright">
                        <p class="margin0 ">STATE SHARE</p>
                        <p class="margin0 em1_1">{{DashboardAllData.totalReleaseAndUtilization.totalFundRelease1 - DashboardAllData.totalCenterRelease.totalCenterRelease
                            | number:2}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 dashboard_blocks">
            <div class="widget">
                <div class="widget-controls">
                    <span class="refresh-content">{{DashboardAllData.totalReleaseAndUtilization.totalfundUtizedPercent1 | number:2}} %</span>
                </div>
                <!-- Widget Controls -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mini-stats block_upper">
                            <span class="pink-skin"><i class="fa fa-bar-chart fa-lg"></i></span>
                            <p>FUNDS UTILIZED</p>
                            <h3>{{DashboardAllData.totalReleaseAndUtilization.totalUtilization1 | number:2}}</h3><br><br>
                        </div>
                    </div>
                </div>
                <div class="row margin0 padding10 textright">
                    <div class="col-md-12 ">
                        <p class="margin0 ">CENTER SHARE</p>
                        <p class="margin0 em1_1">NA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row table_row " ng-if="emptyData">
        <div class="col-md-12" ng-if="DashboardAllData.institute !== []">
            <p><br></p>
            <p class="text-right text-muted">
                All amount in INR
            </p><br><br>
            <table class="table table-hover">
                <thead class="active">
                    <tr class="table_head borderbottom_transparant">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2" class="text-center">Projects</th>
                        <th colspan="2" class="text-center">Allocation</th>
                        <th colspan="2" class="text-center">Released</th>
                        <th colspan="2" class="text-center">Utilized</th>
                    </tr>
                    <tr class="table_head">
                        <th>PAB NO.</th>
                        <th>Institution</th>
                        <th>State</th>
                        <th>Components</th>
                        <th>Total</th>
                        <th>Delayed</th>
                        <th>Center</th>
                        <th>State</th>
                        <th>Center</th>
                        <th>State</th>
                        <th>value</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_data" ng-repeat="i in DashboardAllData.institute">
                        <td ng-click="getOneComponentDetails(i)">{{i._id.pab}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i._id.institute}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i._id.stateName}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i._id.component}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.totalComponentProjects}}</td>
                        <td ng-click="getOneComponentDetails(i)" ng-class="{'redColor': {{i.totalDelayedProjectsPerComponent}} != 0}">{{i.totalDelayedProjectsPerComponent}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.totalComponentAllocation * (i._id.centerShare/100) | number:2}}</td>
                        <!-- i._id.state.centerShare have % & we are calculating state share amount i.e. totalComponentAllocation * stateShare %-->
                        <td ng-click="getOneComponentDetails(i)">{{i.totalComponentAllocation * (i._id.stateShare/100) | number:2}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.centerReleasePerComponent | number:2}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.stateReleasePerComponent | number:2}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.amountUtilizedPerComponent | number:2}}</td>
                        <td ng-click="getOneComponentDetails(i)">{{i.amountUtilizedPercentagePerComponent| number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><br><br><br><br></div>
    <div class="row table_row " ng-if="!emptyData">
        <div class="col-md-12">
            <p><br></p>
            <p class="text-right text-muted">
                All amount in INR
            </p><br><br>
            <table class="table table-hover">
                <thead class="active">
                    <tr class="table_head borderbottom_transparant">
                        <th></th>
                        <th></th>
                        <th colspan="2" class="text-center">Value</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="table_head">
                        <th>Item</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th> &nbsp;&nbsp;%&nbsp;&nbsp;</th>
                        <th>Due Date</th>
                        <th>Payment Made</th>
                        <th>Work Completed</th>
                        <th>Status</th>
                        <th>Sub Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_data" ng-repeat="i in getAllprojectOfComponent" ng-class="{'': $index == 1}">
                        <td>{{i.assetType}}</td>
                        <td>{{i.projectType}}</td>
                        <td>{{i.totalValue}}</td>
                        <td>&nbsp;&nbsp;{{(i.totalValue / i.componentAllocation) * 100 | number:2}} %&nbsp;&nbsp;</td>
                        <td>{{i.dueDate | date: 'yyyy-MM-dd'}}</td>
                        <!--<td>{{i.vendor.length}}</td>-->
                        <td>{{i.totalAmountReleased}} &nbsp;
                            <span ng-if="i.totalAmountReleased != 0" data-id="vendorTable" class="projectPlusSign" ng-click="getOneProjectDetails(i, $event, $index)">+</span>
                        </td>
                        <td>{{i.amountOfWork}} %
                            <span ng-if="i.totalAmountReleased != 0" data-id="photoTable" class="projectPlusSign" ng-click="getOneProjectDetails(i, $event, $index)">+</span>
                        </td>
                        <td>{{i.projectStatus}}</td>
                        <td>-</td>
                        <!--<td>{{i.projectSubStatus}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><br><br><br><br><br><br></div>
    <div class="row table_row" ng-if="!emptyData && vendorTable">
        <div class="col-md-12">
            <p><br></p>
            <p class="text-right text-muted">
                All amount in INR
            </p><br><br>
            <table class="table table-hover">
                <thead class="active">
                    <tr class="table_head borderbottom_transparant">
                        <th>Venodr Name</th>
                        <th>Total Allocation</th>
                        <th>Total Released</th>
                        <th>Issue Date</th>
                        <th>Due Date</th>
                        <!--<th>Description</th>-->
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_data" ng-repeat="i in getAllprojectOfComponent[getProjectIndex].vendor" ng-class="{'': $index == 1}">
                        <td>{{i.vendorName}}</td>
                        <td>{{i.vendorAllocation}}</td>
                        <td>{{i.vendorReleased}}</td>
                        <td>{{i.vendorOrderIssueDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{i.vendorOrderDueDate | date: 'yyyy-MM-dd'}}</td>
                        <!--<td>{{i.description}}</td>-->
                        <td>{{i.vendorOrderPhoto.length}}
                            <span ng-if="i.vendorOrderPhoto.length != 1" class="projectPlusSign" ng-click="projectExpenseImage(i)">+</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row table_row" ng-if="!emptyData && photoTable">
        <div class="col-md-12">
            <span ng-repeat="p in projectPhotos">
                <!--<img src="{{baseUrl + Image path from DB}}" ng-click="getProjectImages()" alt="{{p.types}}" />-->
                <img src="http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg" ng-click="getProjectImages(p, $index)" alt="" title="{{p.types}}"/>
            </span>

            <!--<script type="text/ng-template" id="myProjectImage">
                <img src="{{projectPhoto}}" alt="">-->
            <!--<img src="http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg" class="myProjectImage">-->
            <!--<img src="http://www.planwallpaper.com/static/images/4-Nature-Wallpapers-2014-1_cDEviqY.jpg" class="myProjectImage">-->
            <!--</script>-->

        </div>
    </div>
    <div class="row"><br><br><br><br><br><br></div>
</div>