<!--<div class="pull-right btn-form">
    <button class="btn btn-primary" ng-disabled="formName.$invalid">Submit</button>
</div>-->
<pre class="hidden">{{formData|json}}</pre>
<!--<h3>Institute Form</h3>-->
<form ng-submit="submitForm(formData);" ng-if="!formSubmitted">

    <div class="section-1">
        <h4>Contact Details of RUSA co-ordinator</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="formData.contact.name">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" ng-model="formData.contact.designation">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" cleave="options.mobile" ng-model="formData.contact.mobile">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-model="formData.contact.email">
                </div>
            </div>
            <div class="col-md-12">
                <label>I certify that all information being provided is accurate
                to the best of my knowledge &nbsp;&nbsp; <input type="checkbox" ng-model="formData.contact.agree"></label>

            </div>
        </div>
    </div>

    <div class="section-1">
        <h4>Institute Details</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>State</label>
                    <select ng-options="state as state.name for state in stateData track by state._id" class="form-control" ng-model="formData.stateId"
                        ng-change="searchData(formData.stateId);"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>District</label>
                    <select ng-options="district as district.name for district in districtData track by district._id" class="form-control" ng-model="formData.districtId"
                        ng-change="createDistrict(formData.districtId);"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Institute Type</label>
                    <select class="form-control" ng-model="formData.instituteType" ng-change="createInstituteType(instituteType);">
                    <option value="Central Universities" >Central Universities</option>
                    <option value="State Universities" >State Universities</option>
                    <option value="Institutes of National Importance" >Institutes of National Importance</option>
                    <option value="Deemed to be Universities" >Deemed to be Universities</option>
                    <option value="Affiliated Colleges" >Affiliated Colleges</option>
                  <option value="Autonomous Colleges" >Autonomous Colleges</option>
               
                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Institute Name</label>
                    <select ng-options="institute as institute.name for institute in instituteData track by institute._id" class="form-control"
                        ng-model="formData.instituteId" ng-change="createInstitute(instituteId);"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>State as an Unit</label>
                    <select class="form-control" ng-model="formData.stateAsUnit">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <h4>Components</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>PAB No.</label>
                    <!--<select class="form-control" ng-model="formData.pabId" ng-change="createPab(pabId);">
                    <option value="{{name._id}}" ng-repeat="name in pabData">{{name.name}}</option>
                </select>-->
                    <select ng-options="pab as pab.name for pab in pabData track by pab._id" class="form-control" ng-model="formData.pabId" ng-change="createPab(pabId);"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Key Component</label>
                    <select ng-options="keyComponents as keyComponents.name for keyComponents in keycomponentsData track by keyComponents._id"
                        class="form-control" ng-model="formData.keyComponentsId" ng-change="createKeyComponents(keycomponentsId);"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Amount Approved by PAB (in INR)</label>
                    <input type="text" class="form-control" ng-model="formData.allocation" ng-change="calcShareAmount(formData.allocation);"
                        cleave="options.indian">
                </div>
            </div>
            <div class=" col-md-4">
                <div class="form-group">
                    <label>Center Share (in INR)</label>
                    <input type="text" class="form-control" ng-model="centerShareAmount" cleave="options.indian" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State Share (in INR)</label>
                    <input type="text" class="form-control" ng-model="stateShareAmount" cleave="options.indian" readonly>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section-1">
        <button class="btn btn-primary pull-right" type="button" ng-click="addNewProject($index,counter)">Add Projects</button>
        <h4>Projects</h4>
        <div class="inner" ng-repeat="project in formData.projects track by $index" ng-init="counter">
            <br>
            <button class="btn btn-danger pull-right" type="button" ng-click="removeProject($index)">Remove</button>
            <h4> </h4>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Project Type</label>
                        <select class="form-control" ng-model="project.projectType" ng-change="createProjectType(formData.projectTypeId);">
                    <option value="{{name._id}}" ng-repeat="name in projectType">{{name.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Asset Type</label>
                        <select class="form-control" ng-model="project.assetType" ng-change="createAssetType(formData.assetTypeId);">
                    <option value="{{name._id}}" ng-repeat="name in assetType">{{name.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Latest Project Photo 1</label>
                        <!--<input type="file" ng-model="formData.photo1[$index]">-->
                        <upload-image ng-model="project.photo1" required>
                        </upload-image>
                    </div>
                    <!--{{formData.photo1[$index]}}//-->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Latest Project Photo 2</label>
                        <!--<input type="file" ng-model="project.photo2">-->
                        <upload-image ng-model="project.photo2" required>
                        </upload-image>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Value of Project (in INR)</label>
                        <input type="text" cleave="options.indian" ng-model="project.valueProject" class="form-control">
                    </div>
                </div>
                <!--{{formData.project[$index].valueProject}}fdsaaf-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Due Date</label>
                        <input-date ng-model="project.dueDate">
                        </input-date>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea ng-model="project.remarks" placeholder="If you have any other issues please mention here" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="section-2">
                <button class="btn btn-primary pull-right" type="button" ng-click="addNewProjectExpense(project.projectExpenses);">Add Project Expense</button>
                <h4>Project Expense</h4>
                <!--<br ng-repeat="a in abc" ng-init="seq=$index">-->
                <div class="inner" ng-repeat="projectExpense in project.projectExpenses track by $index" ng-init="outer=seq" ng-value="counter=projectExpense.id">
                    <button class="btn btn-danger pull-right" type="button" ng-click="removeProjectExpense(project.projectExpenses,$index)">Remove</button>
                    <h4>{{projectExpense.name}} </h4>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <input type="text" ng-model="projectExpense.name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor PAN</label>
                                <input type="text" ng-model="projectExpense.vendorpan" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor TIN/TAN</label>
                                <input type="text" ng-model="projectExpense.tintan" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Allocated Amount (in INR)</label>
                                <input type="text" cleave="options.indian" ng-model="projectExpense.amount" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Order Issue Date</label>
                                <input-date ng-model="projectExpense.orderIssueDate"></input-date>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Due Date</label>
                                <input-date ng-model="projectExpense.orderDueDate"></input-date>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Uplaod Order File</label>
                                <upload-image ng-model="projectExpense.orderFile" required>
                                </upload-image>
                            </div>
                        </div>
                        <!--</br>-->
                    </div>
                    <br>
                    <div class="section-3">
                        <button class="btn btn-primary pull-right" type="button" ng-click=" addNewinstitutetoVendors(projectExpense.institutetoVendors)">Add Transaction</button>
                        <h4>Institute to Vendor</h4>
                        <div class="inner" ng-repeat="institutetoVendor in projectExpense.institutetoVendors track by
                        $index">
                            <button class="btn btn-danger pull-right" type="button" ng-click="removeinstitutetoVendors(projectExpense.institutetoVendors,$index)">Remove</button>
                            <h4>{{institutetoVendor.name}}</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Installment No.</label>
                                        <input type="text" class="form-control" ng-model="institutetoVendor.installmentNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Amount (in INR)</label>
                                        <input type="text" class="form-control" ng-model="institutetoVendor.amount" cleave="options.indian">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Transaction Sent</label>
                                        <input-date ng-model="institutetoVendor.transactionSent"></input-date>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Transaction Recieved</label>
                                        <input-date ng-model="institutetoVendor.transactionRecieved"></input-date>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <input type="text" class="form-control" ng-model="institutetoVendor.remarks">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>File</label>
                                        <!--<input type="file" ng-model="institutetoVendor.file">
                                        -->
                                        <upload-image ng-model="institutetoVendor.file" required>
                                        </upload-image>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section-1">
        <button class="btn btn-primary pull-right" type="button" ng-click="addNewState($index)">Add Center to state</button>
        <h4>Center to State</h4>
        <div class="inner" ng-repeat="state in formData.centerToState track by $index" ng-init="inner=$index">
            <button class="btn btn-danger pull-right" type="button" ng-click="removeStater($index)">Remove</button>
            <h4>{{state.name}}</h4>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Installment No.</label>
                        <input type="text" class="form-control" ng-model="state.installmentno">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Amount (in INR)</label>
                        <input type="text" class="form-control" cleave="options.indian" ng-model="state.amount">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sent by Center on</label>
                        <input-date ng-model="state.transactionSent"></input-date>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Received by Entity Releasing Funds to Institute</label>
                        <input-date ng-model="state.transactionRecieved"></input-date>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" ng-model="state.remarks">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>File</label>
                        <!--<input type="file" ng-model="state.file">
                        -->
                        <upload-image ng-model="state.file" required>
                        </upload-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section-1">
        <button class="btn btn-primary pull-right" type="button" ng-click="addNewInstitute($index)">Add State to Institute</button>
        <h4>State to Institute</h4>
        <div class="inner" ng-repeat="institute in formData.stateToInstitute track by $index" ng-init="innner=$index">
            <button class="btn btn-danger pull-right" type="button" ng-click="removeInstitute($index)">Remove</button>
            <!--<h4>{{institute.name}}</h4>-->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Installment No.</label>
                        <input type="text" class="form-control" ng-model="institute.installmentno">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Amount (in INR)</label>
                        <input type="text" class="form-control" cleave="options.indian" ng-model="institute.amount">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Sent</label>
                        <input-date ng-model="institute.transactionSent"></input-date>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Received</label>
                        <input-date ng-model="institute.transactionRecieved"></input-date>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" ng-model="institute.remarks">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>File</label>
                        <!--<input type="file" ng-model="institute.file">-->
                        <upload-image ng-model="institute.file" required>
                        </upload-image>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-1">
        <h4>Utilization Certificate Submitted to State Government</h4>
        <div class="row">
            <div class="col-md-3">
                <h4>Installment no. 1</h4>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date of UC</label>
                    <input-date ng-model="formData.utilization.date1">
                    </input-date>
                </div>
            </div>
            <div class=" col-md-3 ">
                <div class="form-group ">
                    <label>Value (in INR)</label>
                    <input type="text " class="form-control" cleave="options.indian" ng-model="formData.utilization.value1">
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <label>Upload File</label>
                    <upload-image ng-model="formData.utilization.file1" required>
                    </upload-image>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 ">
                <h4>Installment no. 2</h4>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <label>Date of UC</label>
                    <input-date ng-model="formData.utilization.date2">
                    </input-date>
                </div>
            </div>
            <div class=" col-md-3 ">
                <div class="form-group ">
                    <label>Value (in INR)</label>
                    <input type="text " class="form-control" cleave="options.indian" ng-model="formData.utilization.value2">
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group ">
                    <label>Upload File</label>
                    <upload-image ng-model="formData.utilization.file2" required>
                    </upload-image>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-3 ">
                <h5>Total Utilization as entered in this Form (INR) </h5>
            </div>
            <div class=" col-md-3 ">
                <div class="form-group ">
                    <p class="form-control"> {{calculateUtilization()}} </p>
                </div>
            </div>
        </div>
    </div>


    <div class="section-1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="form-group ">
                    <label>Remarks</label>
                    <textarea ng-model="formData.remarks " placeholder="If you have any other issues please mention here
                        " class="form-control "></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center btn-form " ng-if="!submitText ">
        <button class="btn btn-primary " ng-disabled="!formData.stateId " ng-if="!isEdit ">Submit</button>
        <button class="btn btn-primary " ng-disabled="formName.$invalid " ng-if="isEdit ">Save</button>
        <a class="btn btn-default " ng-if="isEdit " ng-click="printForm() ">Print</a>
        <a class="btn btn-success " ng-disabled="formName.$invalid " ng-if="isEdit && isModerator " ng-click="submitForm(formData,
                        'Moderation') ">Moderation Completed</a>
        <a class="btn btn-danger " ng-disabled="formName.$invalid " ng-if="isEdit && isModerator " ng-click="submitForm(formData,
                        'Trash') ">Trash</a>

    </div>
    <div class="text-center " ng-if="submitText ">
        {{submitText}}
    </div>
</form>