<div class="pull-right btn-form">
    <button class="btn btn-primary" ng-disabled="formName.$invalid">Submit</button>
</div>
<h3>Institute Form</h3>
<form ng-submit="submitForm(formData);" ng-if="!formSubmitted">
    <div class="section-1">
        <div class="row">
            <!--{{formData}} FORMaaaaaaaaaaa-->
            <div class="col-md-3">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" ng-model="formData.stateId" ng-change="searchData(formData.stateId);">
                    <option value="{{name._id}}" ng-repeat="name in stateData">{{name.name}}</option>
                 
                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>District</label>
                    <select class="form-control" ng-model="formData.districtId" ng-change="createDistrict(formData.districtId);">
                    <option value="{{name._id}}" ng-repeat="name in districtData">{{name.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Institute Name</label>
                    <select class="form-control" ng-model="formData.instituteId" ng-change="createInstitute(instituteId);">
                    <option value="{{name._id}}" ng-repeat="name in instituteData">{{name.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Institute Type</label>
                    <select class="form-control" ng-model="formData.instituteType" ng-change="createInstitute(instituteId);">
                    <option value="Central Universities" >Central Universities</option>
                    <option value="State Universities" >State Universities</option>
                    <option value="Institutes of National Importance" >Institutes of National Importance</option>
                    <option value="Deemed to be Universities" >Deemed to be Universities</option>
                    <option value="Affiliated Colleges" >Affiliated Colleges</option>
                  <option value="Autonomous Colleges" >Autonomous Colleges</option>
               
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <h4>Components</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>PAB No.</label>
                    <select class="form-control" ng-model="formData.pabId" ng-change="createPab(pabId);">
                    <option value="{{name._id}}" ng-repeat="name in pabData">{{name.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Key Component</label>
                    <select class="form-control" ng-model="formData.keycomponentsId" ng-change="createKeyComponents(keycomponentsId);">
                    <option value="{{name._id}}" ng-repeat="name in keycomponentsData">{{name.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Allocation(in crores)</label>
                    <input type="number" class="form-control" ng-model="formData.allocation">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Center Share</label>
                    <input type="text" class="form-control" ng-model="centerShare" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State Share</label>
                    <input type="text" class="form-control" ng-model="stateShare" readonly>
                </div>
            </div>
        </div>
    </div>{{formData}} FORMaaaaaaaaaaa
    <div class="section-1">
        <h4>Projects</h4>
        <div class="inner" ng-repeat="project in projects track by $index">
            <button class="btn btn-primary pull-right" type="button" ng-click="addNewProject($index)">Add Projects</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="removeProject($index)">-</button>
            <h4>{{project.name}}</h4>
            <div class="row">
                <!--{{formData}}dfsdf-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Project Type</label>
                        <select class="form-control" ng-model="formData.projectTypeId[$index]" ng-change="createProjectType(formData.projectTypeId);">
                    <option value="{{name._id}}" ng-repeat="name in projectType">{{name.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Asset Type</label>
                        <select class="form-control" ng-model="formData.assetTypeId[$index]" ng-change="createAssetType(formData.assetTypeId);">
                    <option value="{{name._id}}" ng-repeat="name in assetType">{{name.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Photo 1</label>
                        <!--<input type="file" ng-model="formData.photo1[$index]">-->
                        <upload-image ng-model="formData.photo1[$index]" required>
                        </upload-image>
                    </div>
                    {{formData.photo1[$index]}}
                </div>
                <!--<upload-image ng-model="careerData.resume" required>
                </upload-image>-->
                <!---->
                <!--<upload-image ng-model="formData.photo3[$index]">
                </upload-image>-->
                <!--{{formData.photo3[$index]}} upload pic-->
                <!---->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Photo 2</label>
                        <input type="file" ng-model="formData.photo2[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Value of Project</label>
                        <input type="text" ng-model="formData.valueProject[$index]" class="form-control">
                    </div>
                </div>
                <!--{{formData.project[$index].valueProject}}fdsaaf-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Due Date</label>
                        <input type="date" ng-model="formData.dueDate[$index]" class="form-control">
                    </div>
                </div>
            </div>
            <div class="section-2">
                <h4>Project Expense</h4>
                <div class="inner" ng-repeat="projectExpense in project.projectExpenses track by $index" ng-init="outer=$index">
                    <button class="btn btn-primary pull-right" type="button" ng-click="addNewProjectExpense(project.projectExpenses)">Add Project Expense</button>
                    <button class="btn btn-danger pull-right" type="button" ng-click="removeProjectExpense(project.projectExpenses,$index)">-</button>
                    <h4>{{projectExpense.name}}</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <input type="text" ng-model="formData.vendorname[$index]" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor PAN</label>
                                <input type="text" ng-model="formData.vendorpan[$index]" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vendor TIN/TAN</label>
                                <input type="text" ng-model="formData.tintan[$index]" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Allocated Amount</label>
                                <input type="text" ng-model="formData.allocatedamount[$index]" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="section-3">
                        <h4>Institute to Vendor</h4>
                        <div class="inner" ng-repeat="institutetoVendor in projectExpense.institutetoVendors track by $index">
                            <button class="btn btn-primary pull-right" type="button" ng-click=" addNewinstitutetoVendors(projectExpense.institutetoVendors)">Add Vendor</button>
                            <button class="btn btn-danger pull-right" type="button" ng-click="removeinstitutetoVendors(projectExpense.institutetoVendors,$index)">-</button>
                            <h4>{{institutetoVendor.name}}</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Installment No.</label>
                                        <input type="text" class="form-control" ng-model="formData[outer].instituteTovendor_installmentno[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" ng-model="formData[outer].instituteTovendor_amount[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Transaction Sent</label>
                                        <input type="date" class="form-control" ng-model="formData[outer].instituteTovendor_transactionSent[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Transaction Recieved</label>
                                        <input type="date" class="form-control" ng-model="formData[outer].instituteTovendor_transactionRecieved[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <input type="text" class="form-control" ng-model="formData[outer].instituteTovendor_remarks[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>File</label>
                                        <input type="file" ng-model="formData[outer].instituteTovendor_file[$index]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <h4>Center to State</h4>
        <div class="inner" ng-repeat="state in states track by $index" ng-init="inner=$index">
            <button class="btn btn-primary pull-right" type="button" ng-click="addNewState($index)">Add Center to state</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="removeStater($index)">-</button>
            <h4>{{state.name}}</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Installment No.</label>
                        <input type="text" class="form-control" ng-model="formData[inner].centerToState_installmentno[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="text" class="form-control" ng-model="formData[inner].centerToState_amount[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Sent</label>
                        <input type="date" class="form-control" ng-model="formData[inner].centerToState_transactionSent[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Received</label>
                        <input type="date" class="form-control" ng-model="formData[inner].centerToState_transactionRecieved[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" ng-model="formData[inner].centerToState_remarks[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" ng-model="formData[inner].centerToState_file[$index]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <h4>State to Institute</h4>
        <div class="inner" ng-repeat="institute in institutes track by $index" ng-init="innner=$index">
            <button class="btn btn-primary pull-right" type="button" ng-click="addNewInstitute($index)">Add State to Institute</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="removeInstitute($index)">-</button>
            <h4>{{institute.name}}</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Installment No.</label>
                        <input type="text" class="form-control" ng-model="formData[inner].stateToIntitute_installmentno[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="text" class="form-control" ng-model="formData[inner].stateToIntitute_amount[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Sent</label>
                        <input type="date" class="form-control" ng-model="formData[inner].stateToIntitute_transactionSent[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transaction Received</label>
                        <input type="date" class="form-control" ng-model="formData[inner].stateToIntitute_transactionRecieved[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" ng-model="formData[inner].stateToIntitute_remarks[$index]">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" ng-model="formdata[inner].stateToIntitute_file[$index]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center btn-form">
        <button class="btn btn-primary" ng-disabled="formName.$invalid">Submit</button>
    </div>
</form>